

body {margin:0;padding:0;
  font-family:Arial; background-color: #ebe5e5;}



.topnav {
  display: flex;
  overflow: visible;
  background-color: rgb(134,0,0);
  color: #f2f2f2;
  text-align: left;
  width: 100%;
 text-align: left;
  text-decoration: none;
  align-items: left;
top: 0;
left: 0;

}
/* float: left; komisch: es geht mit bei start, aber nicht bei social media
 */


.active {
  background-color: #04AA6D;
  color: white;
}




.dropbtn {
  background-color: rgb(134, 0, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: background 0.2s;
}

.dropdown {
  display: inline-block;
  position: relative;
  vertical-align: top;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 1px 2px 0px;
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content:hover a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: purple;}

@media screen and (max-width:1000px) 
{ .dropbtn {background-color: #042eaa;max-width:22em;} 
.topnav {background-color: #042eaa; flex-wrap: wrap; width: 88%}
.welcome {
  }
 }